/* CSS Document */

.outline { border: 2px solid #DFEFFF; }

/*******************************/
/* Standard overarching styles */
/*******************************/
h3{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-weight:bold; font-size:16px; 
	color:#025; margin:16px 6px 8px 3px; 
	border-bottom: medium none white;
}
h4{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-weight:bold; font-size:12px; 
	color:#025; margin:20px 2px 8px 3px; 
	border-bottom: medium none white;
}

space {
line-height: .3 em;
}


p {      padding: 2px 0px 12px 0px;
}

blockquote {padding-left: 40px; align:center; padding-bottom:12px; padding-right: 40px; padding-top:4px;
}

ul {
    padding: 2px 0px;
}

ul li {
	margin-left: 25px;
}

ul ul li {
    margin-left: 40px;
}

ol {
    padding: 2px 0px;
}

ol li {
	margin-left: 25px;
}

ul ol {
    padding: 2px 0px;
}
ul ol li {
    margin-left: 40px;
}

ol ul li {
    margin-left: 40px;
}



.nb  { border:none; text-align:center; padding-bottom: 2px; width: 100%;
font-size:12px;
	}
.nb td  { border:none; text-align:center;
	}

th {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	text-align: center;
	padding-bottom: 2px;
	-moz-border-radius: 0px 0px 0px 0px;
	font-family:Verdana,Arial,Helvetica;
    	font-weight: bold; 
    	font-size:12px;
}

td {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	text-align: left;
	-moz-border-radius: 0px 0px 0px 0px;
}

.thleft {text-align:left;
}

.thcenter {text-align:center;
}
